In [1]:
import pandas as pd
import numpy as np
import glob
import os
import matplotlib.pyplot as plt
import re

pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', -1)
#import warnings
#warnings.filterwarnings('ignore')

#Setting plot size
plt.rcParams["figure.figsize"] = (20, 8)
plt.rcParams["xtick.labelsize"] = 5
plt.rcParams["ytick.labelsize"] = 5

In [2]:
os.chdir('/home/linda/Projects/metaphlan/')

In [4]:
! ls /home/linda/Projects/metaphlan/data

pool1_profile_known.txt  pool2_profile_known.txt

## Metaphlan data format

Metaphlan outputs a txt file as follows:

|ID                                            |    Sample_1_profiled_metagenome |
|----------------------------------------------|---------------------------------|
|UNKNOWN                                                             |   92.02399| 
|k__Archaea                                                          |   0.052938| 
|k__Archaea\p__Euryarhaeota                                          |   0.052938|
|k__Archaea\p__Euryachaeota\c__Methanobacteria                       |   0.052938|
|k__Archaea\p__Euryarchaeota\c__Methanobacteria\o__Methanobacteriales|   0.052938|

I think it would be a lot handier if it was structured as below. Then we could simply group by the taxa we wanted. However, our matrix would be sparse with a lot of zeroes and this would be a memory intensive format for metaphlan to produce. So it is up to us to filter the rows that we need!

|Sample_name| Kingdom_ID | Phylum_ID      | Class_ID           | Order_ID            | Family_ID | Genus_ID | Species_ID |Kingdom   | Phylum   | Class    | Order    | Genus  | Species |
|-----------|------------|----------------|--------------------|---------------------|-----------|----------|------------|----------|----------|----------|----------|--------|---------|                                                                                                                            
|E1_001     | UNKNOWN    | UNKNOWN        | UNKNOWN            | UNKNOWN             | UNKNOWN   | UNKNOWN  | UNKNOWN    |92.02399  |92.02399  |92.02399  |92.02399  |92.02399|92.02399 |  
|E1_001     | k__Archaea |    NaN         |   NaN              |   NaN               | NaN       |   NaN    |   NaN      |0.052938  |  0       |  0       |  0       |  0     | 0       |
|E1_001     | k__Archaea |p__Euryarhaeota |   NaN              |   NaN               | NaN       |   NaN    |   NaN      |  0       |0.052938  |  0       |   0      |  0     | 0       |

The easiest way to approach this is to filter out the rows we need by taxa level.

In [110]:
def clean_merged_table(df,merged_file_name):
    '''Cleans the merged table by removing file extenstion suffix which gets added to sample columns during merge.'''
    df = pd.read_table(df,sep='\t')
    df.columns = df.columns.str.replace(merged_file_name, '')
    otu_index = []
    for i in range(0, len(df)):
        otu_index.append("Otu"+str(i))
    df['Otu']=otu_index 
    return df

def filter_rows_by_taxa(df,rank):
    '''Filters all metaphlan rows by ID to return only selected taxanomic rank i.e. specify f for family, s for species'''
    df=df[df['ID'].str.contains(r'\|'+rank+'__[^|]*$')|(df['ID']=='UNKNOWN')]
    df.reset_index(drop=True,inplace=True)
    return df

def get_taxa_columns(df,rank):
    '''Splits ID into taxanomic ranks to make taxa table''' 
    df_taxa = df['ID'].str.split('|',expand=True)
    taxa_cols = ["Kingdom","Phylum","Class","Order","Family","Genus","Species","Strain"]
    taxa_dict = {'Kingdom':1,"Phylum":2,"Class":3,"Order":4,"Family":5,"Genus":6,"Species":7,"Strain":8}
    value = taxa_dict.get(rank)
    taxa_cols=taxa_cols[0:value]
    df_taxa.columns=taxa_cols
    for col in df_taxa.columns:
        df_taxa[col]=df_taxa[col].apply(trim_taxa_names)    
    #df_taxa=df_taxa.drop_duplicates(subset=df_taxa.columns, keep='last').reset_index(drop=True)
    otu_index = []
    for i in range(0, len(df)):
        otu_index.append("Otu"+str(i))
    df_taxa['Otu']=otu_index 
    return df_taxa

def trim_taxa_names(x):
    '''Removes leading characters before taxa ID e.g. s__ '''
    match = re.sub(r'^[kpcofgs]__',"",str(x))
    return match

def create_other_group(df,thresh):
    '''From a given threshold or cut-off point it creates an "Other" row with the summed abundance of 
    species below the given threshold. Used to give idea of remainder of species excluded from plot legend'''
    df = df.append(pd.Series(), ignore_index=True)
    index_to_append = len(df)
    df.at[index_to_append,'ID']= 'Other'
    df.fillna(0,inplace=True)
    cols= df.columns 
    for col in cols:
        if col!='ID':
            df.loc[df['ID']=='Other', col]= np.sum(df.loc[(df[col]<=thresh) & (df['ID']!="Other")][col])
    sample_cols = [col for col in df.columns if 'profile' in col]
    df_above_thresh = df[sample_cols].apply(lambda x: np.where(x <= thresh,0,x))
    return df_above_thresh

### Read in file and clean trailing file extension from sample name columns

In [88]:
df_1 = clean_merged_table('data/pool1_profile_known.txt','_known_profiled_metagenome')

In [89]:
df_1.head()

,ID,E15_S89,E19b_S88,E28_S87,E5b_S84,E7_S78,E8_S74,R21b_S76,R24_S82,R5_S75,R6_S81,S11b_S73,S11_S83,S13_S79,S22b_S90,S22_S77,S3b_S86,S4_S85,S9_S80,Otu
0,k__Bacteria,97.65801,99.37595,96.86904,93.72727,97.30751,96.97202,99.28079,99.51966,97.72520,99.77435,99.13651,97.13792,99.71291,99.81773,98.82742,96.79303,96.87159,98.24866,Otu0
1,k__Bacteria|p__Actinobacteria,1.77270,35.18209,0.93580,1.73347,1.61261,1.83636,0.89332,1.38952,1.59392,2.32794,1.11673,2.29589,1.62908,21.00678,0.84331,11.85350,0.99145,2.12132,Otu1
2,k__Bacteria|p__Actinobacteria|c__Actinobacteria,0.00000,33.99356,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,20.50706,0.00000,11.21542,0.00000,0.00000,Otu2
3,k__Bacteria|p__Actinobacteria|c__Actinobacteria|o__Bifidobacteriales,0.00000,33.99356,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,20.50706,0.00000,11.21542,0.00000,0.00000,Otu3
4,k__Bacteria|p__Actinobacteria|c__Actinobacteria|o__Bifidobacteriales|f__Bifidobacteriaceae,0.00000,33.99356,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,20.50706,0.00000,11.21542,0.00000,0.00000,Otu4

### Filter rows by taxa level

In [90]:
genus_rows=filter_rows_by_taxa(df_1,'g')

In [91]:
genus_rows.head()

,ID,E15_S89,E19b_S88,E28_S87,E5b_S84,E7_S78,E8_S74,R21b_S76,R24_S82,R5_S75,R6_S81,S11b_S73,S11_S83,S13_S79,S22b_S90,S22_S77,S3b_S86,S4_S85,S9_S80,Otu
0,k__Bacteria|p__Actinobacteria|c__Actinobacteria|o__Bifidobacteriales|f__Bifidobacteriaceae|g__Bifidobacterium,0.00000,33.99356,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,20.50706,0.00000,11.21542,0.00000,0.00000,Otu5
1,k__Bacteria|p__Actinobacteria|c__Coriobacteriia|o__Eggerthellales|f__Eggerthellaceae|g__Adlercreutzia,0.01522,0.02269,0.00986,0.01337,0.02927,0.04169,0.01290,0.00000,0.02503,0.05092,0.01569,0.03171,0.04299,0.01102,0.02144,0.01528,0.01784,0.03676,Otu10
2,k__Bacteria|p__Actinobacteria|c__Coriobacteriia|o__Eggerthellales|f__Eggerthellaceae|g__Asaccharobacter,0.06825,0.02827,0.02306,0.02648,0.02673,0.03658,0.02223,0.00543,0.03252,0.06713,0.02811,0.04405,0.03960,0.01511,0.00854,0.01129,0.01096,0.06209,Otu12
3,k__Bacteria|p__Actinobacteria|c__Coriobacteriia|o__Eggerthellales|f__Eggerthellaceae|g__Enterorhabdus,1.68923,1.13757,0.90287,1.69362,1.55661,1.75809,0.85820,1.38410,1.53637,2.20989,1.07292,2.22013,1.54649,0.47359,0.81333,0.61152,0.96265,2.02247,Otu14
4,k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o__Bacteroidales|f__Bacteroidaceae|g__Bacteroides,2.57402,1.03313,2.58441,5.52997,4.55413,2.52983,1.46428,2.77514,8.90767,1.47206,0.87271,4.22791,0.60317,0.46695,2.50889,4.48199,6.83279,1.09368,Otu20

### Create taxa columns

In [92]:
genus_taxa = get_taxa_columns(genus_rows,'Genus')

In [93]:
genus_taxa.head()

,Kingdom,Phylum,Class,Order,Family,Genus,Otu
0,Bacteria,Actinobacteria,Actinobacteria,Bifidobacteriales,Bifidobacteriaceae,Bifidobacterium,Otu0
1,Bacteria,Actinobacteria,Coriobacteriia,Eggerthellales,Eggerthellaceae,Adlercreutzia,Otu1
2,Bacteria,Actinobacteria,Coriobacteriia,Eggerthellales,Eggerthellaceae,Asaccharobacter,Otu2
3,Bacteria,Actinobacteria,Coriobacteriia,Eggerthellales,Eggerthellaceae,Enterorhabdus,Otu3
4,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,Otu4

In [95]:
df_all=pd.merge(genus_rows,genus_taxa,on='Otu')

In [98]:
df_all.dtypes

ID          object
E15_S89     float64
E19b_S88    float64
E28_S87     float64
E5b_S84     float64
E7_S78      float64
E8_S74      float64
R21b_S76    float64
R24_S82     float64
R5_S75      float64
R6_S81      float64
S11b_S73    float64
S11_S83     float64
S13_S79     float64
S22b_S90    float64
S22_S77     float64
S3b_S86     float64
S4_S85      float64
S9_S80      float64
Otu         object
Kingdom     object
Phylum      object
Class       object
Order       object
Family      object
Genus       object
dtype: object

In [104]:
thresh=0.01

In [109]:
df_all

,ID,E15_S89,E19b_S88,E28_S87,E5b_S84,E7_S78,E8_S74,R21b_S76,R24_S82,R5_S75,...,S3b_S86,S4_S85,S9_S80,Otu,Kingdom,Phylum,Class,Order,Family,Genus
0,k__Bacteria|p__Actinobacteria|c__Actinobacteria|o__Bifidobacteriales|f__Bifidobacteriaceae|g__Bifidobacterium,0.00000,33.99356,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,11.21542,0.00000,0.00000,Otu5,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Muribaculaceae,Muribaculaceae_unclassified
1,k__Bacteria|p__Actinobacteria|c__Coriobacteriia|o__Eggerthellales|f__Eggerthellaceae|g__Adlercreutzia,0.01522,0.02269,0.00986,0.01337,0.02927,0.04169,0.01290,0.00000,0.02503,...,0.01528,0.01784,0.03676,Otu10,Bacteria,Bacteroidetes,Flavobacteriia,Flavobacteriales,Flavobacteriaceae,Imtechella
2,k__Bacteria|p__Actinobacteria|c__Coriobacteriia|o__Eggerthellales|f__Eggerthellaceae|g__Asaccharobacter,0.06825,0.02827,0.02306,0.02648,0.02673,0.03658,0.02223,0.00543,0.03252,...,0.01129,0.01096,0.06209,Otu12,Bacteria,Firmicutes,Bacilli,Bacillales,Staphylococcaceae,Staphylococcus
3,k__Bacteria|p__Actinobacteria|c__Coriobacteriia|o__Eggerthellales|f__Eggerthellaceae|g__Enterorhabdus,1.68923,1.13757,0.90287,1.69362,1.55661,1.75809,0.85820,1.38410,1.53637,...,0.61152,0.96265,2.02247,Otu14,Bacteria,Firmicutes,Bacilli,Lactobacillales,Lactobacillaceae,Lactobacillus
4,k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o__Bacteroidales|f__Bacteroidaceae|g__Bacteroides,2.57402,1.03313,2.58441,5.52997,4.55413,2.52983,1.46428,2.77514,8.90767,...,4.48199,6.83279,1.09368,Otu20,Bacteria,Firmicutes,Clostridia,Clostridiales,Oscillospiraceae,Oscillibacter
5,k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o__Bacteroidales|f__Muribaculaceae|g__Muribaculaceae_unclassified,32.67238,15.48173,19.72849,29.41141,31.89512,37.51055,5.50114,12.37102,38.94397,...,18.50328,25.49871,18.02892,Otu28,Bacteria,Verrucomicrobia,Verrucomicrobiae,Verrucomicrobiales,Akkermansiaceae,Akkermansia
6,k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o__Bacteroidales|f__Muribaculaceae|g__Muribaculum,25.68020,9.66215,15.47967,25.57575,26.25145,14.94594,10.05876,6.31194,19.81598,...,13.70909,16.60170,17.09842,Otu30,Viruses,Viruses_unclassified,Viruses_unclassified,Caudovirales,Siphoviridae,Siphoviridae_unclassified
7,k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o__Bacteroidales|f__Prevotellaceae|g__Prevotella,4.98770,0.00000,6.95289,0.04621,0.44247,0.00000,22.89472,3.14556,1.00673,...,21.94892,5.33470,1.12535,Otu33,Viruses,Viruses_unclassified,Viruses_unclassified,Herpesvirales,Herpesviridae,Rhadinovirus
8,k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o__Bacteroidales|f__Rikenellaceae|g__Alistipes,0.00000,0.00000,0.00000,0.30530,0.11873,0.05773,0.03068,0.02906,0.24278,...,0.08116,0.08573,0.00789,Otu36,Viruses,Viruses_unclassified,Viruses_unclassified,Viruses_unclassified,Baculoviridae,Alphabaculovirus
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Other,0.00000,0.00000,0.00986,0.00000,0.00000,0.00000,0.00000,0.00543,0.00000,...,0.00000,0.00000,0.00789,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Other,0.00000,0.00000,0.00986,0.00000,0.00000,0.00000,0.00000,0.00543,0.00000,...,0.00000,0.00000,0.00789,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
np.sum(df_all.loc[(df_all[col]<=thresh) & (df_all['ID']!="Other")])

TypeError: '<=' not supported between instances of 'str' and 'float'

In [105]:
df_all = df_all.append(pd.Series(), ignore_index=True)
index_to_append = len(df_all)
df_all.at[index_to_append,'ID']= 'Other'
cols= df_all.columns 
for col in cols:
    if col!='ID':
        df_all.loc[df_all['ID']=='Other', col]= np.sum(df_all.loc[(df_all[col]<=thresh) & (df_all['ID']!="Other")][col])

TypeError: '<=' not supported between instances of 'str' and 'float'

In [ ]:
  
    
    cols= df.columns 
    for col in cols:
        if col!='ID':
            df.loc[df['ID']=='Other', col]= np.sum(df.loc[(df[col]<=thresh) & (df['ID']!="Other")][col])

In [101]:
create_other_group(df_all,0.01)

TypeError: '<=' not supported between instances of 'str' and 'float'